/*
!/.gitignore
!/README.md

!/corpus/
/corpus/*
!/corpus/persuasive_essays_paragraph/
/corpus/persuasive_essays_paragraph/*
!/corpus/persuasive_essays_paragraph/dev/
!/corpus/persuasive_essays_paragraph/test/
!/corpus/persuasive_essays_paragraph/train/

!/corpus/testing/


!/bidirectional_alignment/
/bidirectional_alignment/*
!/bidirectional_alignment/testing/

!/link_prediction_processed/
/link_prediction_processed/*
!/link_prediction_processed/testing/

!/parsed_to_conll/
/parsed_to_conll/*
!/parsed_to_conll/testing/

!/projection/
/projection/*
!/projection/testing/

!/segmenter_processed/
/segmenter_processed/*
!/segmenter_processed/testing/

!/sentence_alignment/
/sentence_alignment/*
!/sentence_alignment/testing/

!/to_process/
/to_process/*
!/to_process/testing/
