/*
!/.gitignore
!/README.md

!/corpus/
/corpus/*

!/corpus/testing/

!/corpus/persuasive_essays_paragraph/
/corpus/persuasive_essays_paragraph/*
!/corpus/persuasive_essays_paragraph/dev/
!/corpus/persuasive_essays_paragraph/test/
!/corpus/persuasive_essays_paragraph/train/

!/corpus/persuasive_essays_paragraph_all_linked/
/corpus/persuasive_essays_paragraph_all_linked/*
!/corpus/persuasive_essays_paragraph_all_linked/dev/
!/corpus/persuasive_essays_paragraph_all_linked/test/
!/corpus/persuasive_essays_paragraph_all_linked/train/

!/corpus/abstrct/
/corpus/abstrct/*
!/corpus/abstrct/dev/
!/corpus/abstrct/test/
!/corpus/abstrct/train/

!/corpus/cdcp/
/corpus/cdcp/*
!/corpus/cdcp/dev/
!/corpus/cdcp/test/
!/corpus/cdcp/train/

!/bidirectional_alignment/
/bidirectional_alignment/*
!/bidirectional_alignment/testing/

!/link_prediction_processed/
/link_prediction_processed/*
!/link_prediction_processed/testing/

!/parsed_to_conll/
/parsed_to_conll/*
!/parsed_to_conll/testing/

!/projection/
/projection/*

!/projection/testing/

!/projection/persuasive_essays_paragraph/
/projection/persuasive_essays_paragraph/*
!/projection/persuasive_essays_paragraph/dev/
!/projection/persuasive_essays_paragraph/test/
!/projection/persuasive_essays_paragraph/train/

!/projection/persuasive_essays_paragraph_all_linked/
/projection/persuasive_essays_paragraph_all_linked/*
!/projection/persuasive_essays_paragraph_all_linked/dev/
!/projection/persuasive_essays_paragraph_all_linked/test/
!/projection/persuasive_essays_paragraph_all_linked/train/

!/projection/abstrct/
/projection/abstrct/*
!/projection/abstrct/dev/
!/projection/abstrct/test/
!/projection/abstrct/train/

!/projection/cdcp/
/projection/cdcp/*
!/projection/cdcp/dev/
!/projection/cdcp/test/
!/projection/cdcp/train/

!/segmenter_processed/
/segmenter_processed/*

!/segmenter_processed/testing/

!/sentence_alignment/
/sentence_alignment/*
!/sentence_alignment/testing/

!/to_process/
/to_process/*
!/to_process/testing/
!/to_process/granma_letters_json/
!/to_process/granma_letters/
!/to_process/response_responded_granma_letters/
!/to_process/response_responded_granma_letters_json/
!/to_process/selected_response_responded_granma_letters/